.page{
    width:100%;
    height:100%;
    background-color: #f8fbff;
    }
.sidenav{
  width: 11rem;
    // background-image: url("../assets/images/Path 6383.svg");
    // background-color: #f8fbff;
    // background-size: 100%;
    }
.mat-drawer-side {
    border-right: none;
}
.logout{
  line-height: 1.56;
  color: #1e3e67;
  font-size: 12px;
  font-weight: 500;
  opacity: 0.9;
}
.user-txt{
  font-size: 13px;
  font-weight: 500;
  line-height: 1.56;
  color: #1e3e67;
}
.SubTitles{
  // font-family: Poppins;
font-size: 13px;
font-weight: 500;
line-height: 1.5;
color: #90a0b3;
padding-left: 1.5rem;
}
.h-devider{
  height: 1px;
  width: 5rem;
  border-top: solid 1px rgba(32, 133, 251, 0.18);
  padding-top: 1rem;
}
.Admin{
  width: 100%;padding: 8px 0rem 8px 2rem;margin-bottom: 1rem;
}
.Logout{
  width: 100%;cursor: pointer;padding: 0px 0rem 8px 2rem;margin-bottom: 1rem;
}