/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
@font-face {
    font-family: Poppins;
    src: url(assets/fonts/Poppins-SemiBold.ttf) format("opentype");
  }
body { margin: 0; font-family: "Poppins", "Helvetica Neue", sans-serif; }

 /* width */
 ::-webkit-scrollbar {
  width: 6px;
  height: 6px; 
}

/* Track */
::-webkit-scrollbar-track {
  background:transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa; 
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888; 
}